@define-color bg #09090e;
@define-color fg #d9dded;
@define-color gray1 #c3ecbf;
@define-color gray2 #383a4a;
@define-color gray3 #afccfc;
@define-color gray4 #fdf3de;
@define-color gray5 #e4d1fb;
@define-color fg_bright #d9dded;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}